<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        /* Center the content */
        body {
            text-align: center;
        }
        
        /* Add some colors */
        h1 {
            color: rgb(0, 128, 255);
            font-family: cursive;
        }
        
        p {
            color: green;
        }
        button {			
			border: black 2px solid;			
			padding: 20px 40px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 24px;
			margin: 10px 5px;
			cursor: pointer;
		}
    </style>
</head>
<body>
    <h1>Bienvenido a Widmy App</h1>
    <div style="text-align:center;">
        <button onclick="window.location.href='/historiasClinicas/'" style="background-color: rgb(199, 22, 212); color: rgb(15, 15, 15);">Historias Clinicas</button>
        <button onclick="window.location.href='/pacientes/'" style="background-color: rgb(242, 211, 8); color: black;">Pacientes</button>
    </div>
</body>

</html>
